PORT=3000
# MONGODB_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/ksrtc_tracker
MONGODB_URI=mongodb+srv://kingsohaaam1301:1tOmYJaE2gVI8zL4@cluster0.xjrq80v.mongodb.net/ksrtc
JWT_SECRET=ksrtc_nippani_super_secret_key_2024
NODE_ENV=development

# Distance in meters at which a stop is considered "reached"
# When the bus comes within this distance, it's marked as the current stop
STOP_REACH_RADIUS_M=150
